# Datos Archivos grandes que no queremos versionar
/data/**/*.bam
/data/**/*.bai
/data/**/*.fna
/data/**/*.fai
/data/**/*.fa
/data/**/*.gz
/data/**/*.bed
/data/**/*.tbi

# Logs de DeepVariant
/data/**/logs/
/data/**/intermediate/


# Resultados del análisis con mosdepth
/data/4_out/mosdepth/HG003/chr20/Illumina/*
!data/4_out/mosdepth/HG003/chr20/Illumina/coverage_Illumina.png
!data/4_out/mosdepth/HG003/chr20/Illumina/HG003.Illumina.chr20.mosdepth.summary.txt

/data/4_out/mosdepth/HG003/chr20/ONT_PARTIAL/*
!data/4_out/mosdepth/HG003/chr20/ONT_PARTIAL/coverage_ONT.partial.png
!data/4_out/mosdepth/HG003/chr20/ONT_PARTIAL/HG003.ONT.partial.chr20.mosdepth.summary.txt

/data/4_out/mosdepth/HG003/chr20/ONT_FULL/*
!data/4_out/mosdepth/HG003/chr20/ONT_FULL/coverage_ONT.full.png
!data/4_out/mosdepth/HG003/chr20/ONT_FULL/HG003.ONT.full.chr20.mosdepth.summary.txt