# Datos Archivos grandes que no queremos versionar
/data/**/*.bam
/data/**/*.bai
/data/**/*.fna
/data/**/*.fai
/data/**/*.fa
/data/**/*.gz
/data/**/*.bed
/data/**/*.tbi

#Artefactos de Python
**/__pycache__

# Logs de DeepVariant
/data/**/logs/
/data/**/intermediate/

# Resultados de make_examples en modo train
/data/4_out/deepvariant/HG003/make_examples_train/
/data/4_out/deepvariant/examples/
/data/4_out/datasets/

# Resultados de deepvariant en modo full
/data/4_out/deepvariant/full_calls/

# Reports de los datasets
/data/4_out/reports/*

# Calling final
/training/out/calls/*

# Slurm artifacts
/training/out/slurm/*

# Udocker 
/.udocker

# Cluster
/out
/old
/logs
/tools
/.venv