# Datos Archivos grandes que no queremos versionar
/data/**/*.bam
/data/**/*.bai
/data/**/*.fna
/data/**/*.fai
/data/**/*.fa
/data/**/*.gz
/data/**/*.bed
/data/**/*.tbi

# Logs de DeepVariant
/data/**/logs/
